.farmer_container{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: auto;
}
.farmer_title{
    position: absolute;
    top: 2%;
    left: 5%;
    color: #286d34;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 31px;
}
.farmer_subtitle{
    position: absolute;
    top: 6%;
    left: 5%;
    color: #828282;
    font-size: 12px;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: 17px;
}
.farmer_icon{
    position: absolute;
    top: 1%;
    right: 5%;
    height: 60px;
    width: 75px;
    
}
.farmer_line{
    position: absolute;
    top: 9%;
    left: 5%;
    height: 1px;
    width: 90%;
    background-color: aqua;
    opacity: 25%;
}

/*```````````` Farmer Section 1``````````````````````````````````` */
.farmer_section_1,
.farmer_section_2{
    position: absolute;
    height: auto;
    width: 44%;
    /* background-color: darkcyan; */
    top: 11%;
    left: 5%;
}
.farmer_section_2{
    left: 51%;
}

.farmer_email label,
.farmer_id label,
.farmer_county label,
.farmer_cooperative label,
.farmer_village label,
.farmer_farm_size label,
.farmer_primary_chain label{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
}

.farmer_section_1 input[type="text"],
.farmer_section_1 input[type="number"],
.farmer_section_1 input[type="email"]{
    height: 45px;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 2%;

}


/*```````````` Farmer Section 2``````````````````````````````````` */
.farmer_phone label,
.farmer_household label,
.farmer_sub_county label,
.farmer_church label,
.farmer_ward label,
.farmer_economic_activity label,
.farmer_secondary_chain label{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
}

.farmer_section_2 input[type="text"],
.farmer_section_2 input[type="number"],
.farmer_section_2 input[type="email"]{
    height: 45px;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 2%;

}

.farmer_confirm{
    position: absolute;
    top: 90%;
    left: 40%;
    height: 40px;
    width: 20%;
    /* background-color: #286d34; */
}
.farmer_confirm_btn{
    width: 100%;
    height: 6vh;
    padding: 0px 8px;
    border: none;
    box-sizing: border-box;
    border-radius: 22px;
    background-color: #286d34;
    color: #ffffff;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 18px;
    outline: none;
    cursor: pointer;


}
.farmer_confirm_btn:hover{
    background-color: rgb(31, 255, 117);
}
/* ``````````````````````````````````````````````````````````````````````````````````````````````````````````````````` */
/* ````````````````````````````````````````````````Media Section`````````````````````````````````````````````````````` */

@media screen and (max-width: 500px) {
    .farmer_title{
        font-size: 16px;
 
    }
    .farmer_subtitle{
        font-size: 10px;

    }

    .farmer_phone label,
    .farmer_household label,
    .farmer_sub_county label,
    .farmer_church label,
    .farmer_ward label,
    .farmer_economic_activity label,
    .farmer_secondary_chain label,
    .farmer_email label,
    .farmer_id label,
    .farmer_county label,
    .farmer_cooperative label,
    .farmer_village label,
    .farmer_farm_size label,
    .farmer_primary_chain label{
        font-size: 9px;

}     
}

/* ``````````````````````````````````````````````````````````````````````````````````````````````````````````````````` */
/* ````````````````````````````````````````````````Media Section Height Edition`````````````````````````````````````````````````````` */
@media screen and (max-height: 1400px) {
    .farmer_confirm{
        position: absolute;
        top: 60%;
        left: 30%;
        height: 40px;
        width: 40%;
        /* background-color: #286d34; */
    }
}



@media screen and (max-height: 1000px) {
    .farmer_confirm{
        position: absolute;
        top: 70%;
        left: 30%;
        height: 40px;
        width: 40%;
        /* background-color: #286d34; */
    }
}

@media screen and (max-height: 800px) {
    .farmer_confirm{
        position: absolute;
        top: 88%;
        left: 40%;
        height: 40px;
        width: 20%;
        /* background-color: #286d34; */
    }
    .farmer_confirm_btn{
        font-size: 12px;
    }
}

@media screen and (max-height: 600px) {
    .farmer_confirm{
        position: absolute;
        top: 93%;
        left: 30%;
        height: 40px;
        width: 40%;
        /* background-color: #286d34; */
    }
}