body{
    overflow: auto;
}
.add_member_container{
    height: 100%;
    width: 100%;
    background-color: bisque;
    overflow: auto;

}
.add_mem_top_menu{
    height: 60px;
    width: 90%;
    position: absolute;
    top: 0%;
    left: 6%;
    /* background-color: rgb(60, 127, 185); */
}
.add_mem_left_menu{
    height: 100vh;
    width: 5%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.add_ham_menu{
    color: #286d34;
    position: absolute;
    top: 20%;
    visibility: collapse;
    z-index: 1;

}

.add_mem_menu_section{
    position: absolute;
    top: 8%;
    left: -100%;
    height: 36%;
    width: 200px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-color: #ffffff;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
    padding: .5%;
    padding-left: 1%;
    z-index: 1;
    text-align: start;
    overflow: hidden;
    transition: 0.5s;
    /* visibility: hidden; */
    

}
.Home,.mess,.notify,.dash
,.sell,.loans,.insure,.agro{
    height: 10%;
    margin-bottom: 6%;
    padding-bottom: 15%;
    cursor: pointer;
    color:rgb(116, 112, 112);
    /* background-color: #6bc1e9; */
}
.Home{
    width: 70%;
}
.close_farm_side_menu{
    position: absolute;
    top: 3%;
    right: 4%;
}

.Home:hover,.mess:hover,.notify:hover,.dash:hover
,.sell:hover,.loans:hover,.insure:hover,.agro:hover{
    border-bottom:1px solid blue ;
}


.add_mem_name{
    height: 30px;
    width: 80%;
    font-size: 20px;
    font-family: Poppins;
    /* background-color: lawngreen; */
    color: #286d34;
    font-weight: 500;
    position: absolute;
    top: 15%;
    left: .5%;
}
.add_mem_profile_image{
    height:40px;
    width: 40px;
    border-radius:50%;
    position: absolute;
    top: 14%;
    right:0%;
    overflow: hidden;
    cursor: pointer;
}
.add_mem_notification_icon{
    border-radius:50%;
    position: absolute;
    top: 20%;
    right:4.5%;
    cursor: pointer;
   
    /* background-color: rgb(231, 231, 231); */
}
.add_mem_message_icon{
    position: absolute;
    top: 21%;
    right:9%;
    cursor: pointer;

}



.add_mem_farm_fusion_icon,
.add_mem_dashboard,
.add_mem_home_icon,
.add_mem_insurance_icon,
.add_mem_loan_icon,
.add_mem_store_icon,
.add_mem_agronomy_icon{
    position: absolute;
    top: 2%;
    left: 35%;
    height: 3vh;
    width: 30%;
    cursor: pointer;
}

.add_mem_farm_fusion_icon{
    left: 25%;
    height: 5.1vh;
    width: 50%;
}
.add_mem_dashboard{
    top: 13%;
}

.add_mem_home_icon{
    top: 23%;
}

.add_mem_loan_icon{
    top: 33%;
}

.add_mem_insurance_icon{
    top: 43%;
}

.add_mem_store_icon{
    top: 53%;
}

.add_mem_agronomy_icon{
    top: 63%;
}

/* `````````````````````````Registation title `````````````````````` */
.member_selection{
    position: absolute;
    top: 7.5%;
    left: 6.5%;
    height: 6vh;
    width: 93%;
    /* background-color: rgb(35, 66, 66); */
    min-height: 30px;

}
.register_member,.all_members{
    height: 40px;
    min-height: 30px;
    width: 16%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(0, 255, 242);
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    color: #19802a;
    cursor: pointer;

}
.register_member{
    text-align: start;
}
.all_members{
    margin-left: 20px;
    border-bottom: none;
}
.all_members:hover{
    border-bottom: 1px solid rgb(0, 255, 242);
}


/* ``````````````````````Farmer Detail Section ````````````````````` */
.add_farmer_container{
    position: absolute;
    top: 16%;
    left: 6.5%;
    height: 70vh;
    width: 44%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);

}
.farmer_side_1{
    height: auto;
    width: 45%;
    /* background-color: burlywood; */
    position: absolute;
    top: 8%;
    left: 2%;
}

.farmer_side_2{
    height: auto;
    width: 45%;
    /* background-color: burlywood; */
    position: absolute;
    top: 8%;
    left: 53%;
}

.add_farmer_container label{
    color: #1844ad;
    font-size: 18px;
    font-family: "Poppins";
    line-height: 17px;
    font-weight: 500;
    position: absolute;
    top: 2%;
    left: 2%;
}
.add_farmer_icon{
    position: absolute;
    top: 2%;
    right: 2%;
    color: #2dad42;
    
}

.add_farmer_container input[type="text"],
.add_farmer_container input[type="number"],
.add_farmer_container input[type="email"],
.add_farmer_container select{
    height: 50px;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 14px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 13%;

}



/* ``````````````````````Farm Detail Section ````````````````````` */
.add_farm_container{
    position: absolute;
    top: 16%;
    left:52.5%;
    height: 70vh;
    width: 44%;
    background-color: white;
    border-radius: 8px;
    padding: 1%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);

}

.farm_side_1{
    height: auto;
    width: 45%;
    /* background-color: burlywood; */
    position: absolute;
    top: 8%;
    left: 2%;
}

.farm_side_2{
    height: auto;
    width: 45%;
    /* background-color: burlywood; */
    position: absolute;
    top: 8%;
    left: 53%;
}

.add_farm_container label{
    color: #1844ad;
    font-size: 18px;
    font-family: "Poppins";
    line-height: 17px;
    font-weight: 500;
    position: absolute;
    top: 2%;
    left: 2%;
}
.add_farm_icon{
    position: absolute;
    top: 2%;
    right: 2%;
    color: #2dad42;
    
}

.add_farm_container input[type="text"],
.add_farm_container input[type="number"],
.add_farm_container input[type="email"],
.add_farm_container select{
    height: 50px;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 14px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 13%;

}
.add_farmer_to_coop{
    height: 40px;
    width: 30%;
    background-color: #2dad42;
    position: absolute;
    top:  89%;
    left: 36%;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.add_farmer_to_coop:hover{
    background-color: #60d874;
}



  /* `````````````````````````````````````````````````````````````````````````````````````````````````````````````` */
  /* ````````````````````````````````````Add Member Media scales``````````````````````````````````````````````````````````` */
 
@media screen and (max-width: 1000px) {
    .add_mem_left_menu{
        visibility: collapse;
    }.add_mem_top_menu{
        width: 93%;
        left: 3%;

    }.add_farmer_container{
        left: 3%;
        width: 47.5%;


    }.member_selection{
        left: 3%;
    }
    .add_mem_name{
        margin-left: 0%;
    }.add_farmer_to_coop{
        font-size: 15px;
    }

}


@media screen and (max-width: 1000px) {
    .add_mem_left_menu{
        visibility: collapse;
    }.add_mem_top_menu{
        width: 93%;
        left: 3%;

    }.add_farmer_container{
        left: 3%;
        width: 47.5%;


    }.member_selection{
        left: 3%;
    }
    .add_mem_name{
        margin-left: 0%;
    }.add_farmer_to_coop{
        font-size: 15px;
    }.register_member,.all_members{
        font-size: 13px;
        font-weight: 600;
    } .add_mem_name{
        top: 18%;
        left: 5%;
    }
    .add_ham_menu{
        top: 18%;
        visibility: visible;
    }.add_mem_notification_icon,.add_mem_message_icon{
       visibility: collapse;
    }

}



@media screen and (max-width: 800px) {
    .add_mem_left_menu{
        visibility: collapse;
    }.add_mem_top_menu{
        width: 93%;
        left: 3%;

    }.add_farmer_container{
        left: 3%;
        width: 47.5%;
        height: 400px;


    }.add_farm_container{
        height: 400px;
    }
    .member_selection{
        left: 3%;
    }
   .add_farmer_to_coop{
        top: 69%;
        font-size: 15px;
    }
    .register_member{
        width: 24%;
    }

}




@media screen and (max-width: 650px) {
    .add_mem_top_menu{
        width: 93%;
        left: 3%;

    }.add_farmer_container{
        left: 3%;
        width: 47.5%;


    }.member_selection{
        left: 3%;
    }
   .add_farmer_to_coop{
        top:110% ;
        font-size: 15px;
    }
    .register_member{
        width: 24%;
    }
    .add_mem_name{
        left: 8%;
    }.add_farmer_container{
    
        top: 16%;
        left: 3.5%;
        height: 340px;
        width: 94%;
        min-height: 330px;
    
    }.add_farm_container{
        top: 62%;
        left: 3.5%;
        height: 340px;
        width: 94%;
        min-height: 330px;
    
    }
    .add_farmer_container input[type="text"],
    .add_farmer_container input[type="number"],
    .add_farmer_container input[type="email"],
    .add_farmer_container select,.add_farm_container input[type="text"],
    .add_farm_container input[type="number"],
    .add_farm_container input[type="email"],
    .add_farm_container select{
        height: 40px;
        margin-bottom: 6%;
        margin-top: 2%;

    }.add_farmer_to_coop{
        height: 40px;
        width: 40%;
        left: 31%;
    }.register_member,.all_members{
        font-size: 12px;
        font-weight: 600;
    }
    .all_members{
        /* background-color:bisque ; */
        width: 30%;

    }
}




@media screen and (max-width: 500px) {

    .add_farmer_container{
        left: 3%;
        width: 47.5%;


    }.member_selection{
        left: 3%;
    }
   .add_farmer_to_coop{
        font-size: 15px;
    }
    .register_member{
        width: 24%;
    }
    .add_mem_name{
        left: 12%;
    }.add_farmer_container{
    
        top: 16%;
        left: 3.5%;
        height: 340px;
        width: 94%;
        min-height: 330px;
    
    }.add_farm_container{
        top: 62%;
        left: 3.5%;
        height: 340px;
        width: 94%;
        min-height: 330px;
    
    }
    .add_farmer_container input[type="text"],
    .add_farmer_container input[type="number"],
    .add_farmer_container input[type="email"],
    .add_farmer_container select,.add_farm_container input[type="text"],
    .add_farm_container input[type="number"],
    .add_farm_container input[type="email"],
    .add_farm_container select{
        font-size: 13px;

    }.add_farmer_to_coop{
        font-size: 13px;
    }
    .all_members{
        /* background-color:bisque ; */
        width: 30%;

    }
    .register_member{
        /* background-color: #1844ad; */
        width: 32%;
    }
    .add_farmer_container label{
        font-size: 15px;
    }
    .add_farm_container label{
        font-size: 15px
    }
        

}




@media screen and (max-width: 370px) {

    .add_farmer_container{
        left: 3%;
        width: 47.5%;


    }.member_selection{
        left: 3%;
    }
   
    .register_member{
        width: 24%;
    }
    .add_mem_name{
        left: 12%;
    }.add_farmer_container{
    
        top: 16%;
        left: 3.5%;
        height: 340px;
        width: 94%;
        min-height: 330px;
    
    }.add_farm_container{
        top: 62%;
        left: 3.5%;
        height: 340px;
        width: 94%;
        min-height: 330px;
    
    }
    .add_farmer_container input[type="text"],
    .add_farmer_container input[type="number"],
    .add_farmer_container input[type="email"],
    .add_farmer_container select,.add_farm_container input[type="text"],
    .add_farm_container input[type="number"],
    .add_farm_container input[type="email"],
    .add_farm_container select{
        font-size: 10px;

    }.add_farmer_to_coop{
        font-size: 10px;
    }
    .all_members{
        /* background-color:bisque ; */
        width: 40%;
        font-size: 11px;

    }
    .register_member{
        /* background-color: #1844ad; */
        width: 42%;
        font-size: 11px;
    }
    .add_farmer_container label{
        font-size: 13px;
    }
    .add_farm_container label{
        font-size: 13px
    }
        

}
