.second_form{
    height: auto;
    width: 100%;
    background-color: beige;
}
.second_title{
    position: absolute;
    top: 2%;
    left: 5%;
    color: #286d34;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 31px;
}
.second_subtitle{
    position: absolute;
    top: 6%;
    left: 5%;
    color: #828282;
    font-size: 12px;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: 17px;
}
.core_subtitle{
    position: absolute;
    top: 13%;
    left: 5%;
    color: #828282;
    font-size: 12px;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: 17px;
}
.second_icon{
    position: absolute;
    top: 0%;
    right: 5%;
    height: 60px;
    width: 75px;
}
.second_line{
    position: absolute;
    top: 9%;
    left: 5%;
    height: 1px;
    width: 90%;
    background-color: aqua;
    opacity: 25%;
}
.second_core{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 3vh;
    width: 90%;
    color: #1844ad;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 23px;
}


.core_boxes_1{
    position: absolute;
    width: 90%;
    top: 16%;
    left: 5%;
    height: 46px;
    min-height: 92px;
    /* background-color: #1844ad; */
    font-size: 14px;
    font-family: "Quicksand";
    font-weight: 600;
    overflow: auto;
    border: 1px solid #76c5dc;
    border-radius: 8px;
}



#banana{
    min-height: 40px;
    height: 45px;
    width: 100%;
    
    box-sizing: border-box;
    border-radius: 8px;
    /* background-color: #962020; */
    color: #030303;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    position: absolute;
    padding-top: .4%;
    top: 1%;
   
}
.core_boxes input[type="checkbox"],
.core_boxes_2 input[type="checkbox"],
.core_boxes_3 input[type="checkbox"]{
    cursor: pointer;
    overflow: hidden;
    width: 20px;
    height: 20px;
    opacity: 1;
    pointer-events: auto;
    color: rgba(0, 0, 255, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 255, 1);
    position: relative;
    vertical-align: calc(-5px);
    margin-right: .2%;
    margin-left: 1.5%;

}
.coop_value_chain{
    position: absolute;
    top: 32%;
    left: 5%;
    height: 7vh;
    width: 90%;
    /* background-color: #1844ad; */
}
.coop_value_chain label{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
}
.coop_value_chain input[type="text"]{
    height: 7vh;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
}

/* ````````````````````Inner Section``````````````````````` */
.third_core{
    position: absolute;
    top: 43%;
    left: 5%;
    height: 3vh;
    width: 90%;
    color: #1844ad;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 23px;
    /* background-color: #76c5dc; */
}

.contact_section_1,.contact_section_2,
.contact_section_3{
    position: absolute;
    top: 47%;
    left: 5%;
    /* background-color: #2bb842; */
    height: 35vh;
    width: 28%;

}
.contact_section_2{
    left: 36%;
}

.contact_section_3{
    left: 67%;
}

.contact_section_1 input[type="text"],
.contact_section_2 input[type="number"],
.contact_section_3 input[type="email"]{
    min-height: 30px;
    height: 7vh;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 3%;
}

.chairperson_name label,
.secretary_name label,
.treasurer_name label,
.chairperson_phone_number label,
.secretary_phone_number label,
.treasurer_phone_number label,
.chairperson_email label,
.treasurer_email label,
.secretary_email label
{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
}


/* ``````````````````Bank Section````````````````````````` */
.banking_section{
    height: 15vh;
    width: 90%;
    /* background-color: #18adad; */
    position: absolute;
    top: 82%;
    left: 5%;

}
.fourth_core{
    
    height: 3vh;
    width: 100%;
    color: #1844ad;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 23px;
    /* background-color: #76c5dc; */
}

.banking_section input[type="text"],
.banking_section input[type="number"]{
    min-height: 30px;
    height: 7vh;
    width: 31%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 3%;
}
/* Adjusting label position */
.bank_branch_name label,
.bank_account_number label,
.bank_account_name label{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
    position: absolute;
    top: 25%;
}
.bank_account_number label{
    left: 34.5%;
}
.bank_account_name label{
    left: 69%;
}

/* Adjust input position */
.bank_branch_name input[type="text"]{
    position: absolute;
    top: 45%;
    left: 0;
}


.bank_account_number input[type="number"]{
    position: absolute;
    top: 45%;
    left: 34.5%;
}

.bank_account_name input[type="text"]{
    position: absolute;
    top: 45%;
    left: 69%;
}

/* ````````````````````````````````Paybill Section``````````````````````````````` */

.paybill_core{
    position: absolute;
    height: 3vh;
    width: 90%;
    color: #1844ad;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 23px;
    /* background-color: #76c5dc; */
    top: 98%;
    left: 5%;
}


.paybill_section_1,.paybill_section_2,
.paybill_section_3{
    position: absolute;
    top: 103%;
    left: 5%;
    /* background-color: #2bb842; */
    height: 33vh;
    width: 28%;

}
.paybill_section_2{
    left: 36%;
}

.paybill_section_3{
    left: 67%;
}

.paybill_section_1 input[type="text"],
.paybill_section_2 input[type="number"],
.paybill_section_2 input[type="text"],
.paybill_section_3 input[type="text"]{
    height: 7vh;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 3%;
}

.paybill_name label,
.Authorize_name_1 label,
.second_Authorize_name label,
.paybill_number label,
.Authorize_position_1 label,
.second_Authorize_position label,
.paybill_store label,
.Authorize_signature_1 label,
.second_Authorize_signature label
{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
}







.second_button button,
.second_reset_button button{
    position: absolute;
    top: 141%;
    left: 37%;
    height: 5vh;
    width: 12%;
    background-color: #286d34;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;

}

.second_button button:hover{
    background-color: #51e092;
}
.second_reset_button button{
    left: 51%;
    background-color: rgb(221, 41, 41);
}

.second_reset_button button:hover{
    background-color: rgb(160, 14, 14);
}

.second_coop_powered_by,.second_coop_msimbo_logo{
    height: 3vh;
    width: 40%;
    position: absolute;
    top: 150%;
    left: 11%;
    /* background-color: aqua; */
    text-align: end;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 22px;
    
}
.second_coop_msimbo_logo{
    width: 2.3%;
    left: 51.5%;
}


  /* `````````````````````````````````````````````````````````````````````````````````````````````````````````````` */
  /* ````````````````````````````````````Cooperate form Height Media scales``````````````````````````````````````````````````````````` */
  @media screen and (max-width: 1050px) {
    .second_coop_powered_by,.second_coop_msimbo_logo{
     visibility: hidden;
        
    }
  }
  @media screen and (max-width: 700px) {
    .chairperson_name label,
    .secretary_name label,
    .treasurer_name label,
    .chairperson_phone_number label,
    .secretary_phone_number label,
    .treasurer_phone_number label,
    .chairperson_email label,
    .treasurer_email label,
    .secretary_email label,
    .bank_branch_name label,
    .bank_account_number label,
    .bank_account_name label,
    .paybill_name label,
    .Authorize_name_1 label,
    .second_Authorize_name label,
    .paybill_number label,
    .Authorize_position_1 label,
    .second_Authorize_position label,
    .paybill_store label,
    .Authorize_signature_1 label,
    .second_Authorize_signature label{
        font-size: 10px;
    }
    .second_title{
        font-size: 19px;
    }
    .second_subtitle{
        font-size: 10px;
        font-weight: 500;

    }
    .core_subtitle{
        font-size: 10px;
        font-weight: 500;
    }.second_core{

        font-size: 15px;
    }.third_core{
        
        font-size: 15px;


    }.fourth_core{

        font-size: 15px;

    }
    .paybill_core{
        font-size: 15px;
    }
    .second_button button,
    .second_reset_button button{
        position: absolute;
        top: 141%;
        left: 30%;
        height: 5vh;
        width: 20%;
        background-color: #286d34;
        font-size: 14px;
    

    }.second_reset_button button{
        left: 51%;
        background-color: rgb(221, 41, 41);
}
    

}


@media screen and (max-width: 500px) {
    .chairperson_name label,
    .secretary_name label,
    .treasurer_name label,
    .chairperson_phone_number label,
    .secretary_phone_number label,
    .treasurer_phone_number label,
    .chairperson_email label,
    .treasurer_email label,
    .secretary_email label,
    .bank_branch_name label,
    .bank_account_number label,
    .bank_account_name label,
    .paybill_name label,
    .Authorize_name_1 label,
    .second_Authorize_name label,
    .paybill_number label,
    .Authorize_position_1 label,
    .second_Authorize_position label,
    .paybill_store label,
    .Authorize_signature_1 label,
    .second_Authorize_signature label{
        font-size: 8px;
    }
    .second_title{
        font-size: 15px;
    }
    .second_subtitle{
        font-size: 8px;
        font-weight: 400;

    }
    .core_subtitle{
        font-size: 8px;
        font-weight: 400;
    }.second_core{

        font-size: 12px;
    }.third_core{
        
        font-size: 12px;


    }.fourth_core{

        font-size: 12px;

    }
    .paybill_core{
        font-size: 12px;
    }
    .second_button button,
    .second_reset_button button{
        position: absolute;
        top: 141%;
        left: 30%;
        height: 5vh;
        width: 20%;
        background-color: #286d34;
        font-size: 12px;
    

    }.second_reset_button button{
    left: 51%;
    background-color: rgb(221, 41, 41);
    }
    
}



@media screen and (max-width: 350px) {
    .chairperson_name label,
    .secretary_name label,
    .treasurer_name label,
    .chairperson_phone_number label,
    .secretary_phone_number label,
    .treasurer_phone_number label,
    .chairperson_email label,
    .treasurer_email label,
    .secretary_email label,
    .bank_branch_name label,
    .bank_account_number label,
    .bank_account_name label,
    .paybill_name label,
    .Authorize_name_1 label,
    .second_Authorize_name label,
    .paybill_number label,
    .Authorize_position_1 label,
    .second_Authorize_position label,
    .paybill_store label,
    .Authorize_signature_1 label,
    .second_Authorize_signature label{
        font-size: 7px;
    }
    .second_title{
        font-size: 12px;
    }
    .second_subtitle{
        font-size: 8px;
        font-weight: 400;

    }
    .core_subtitle{
        font-size: 8px;
        font-weight: 400;
    }.second_core{

        font-size: 10px;
    }.third_core{
        
        font-size: 10px;


    }.fourth_core{

        font-size: 10px;

    }
    .paybill_core{
        font-size: 10px;
    }
    .second_button button,
    .second_reset_button button{
        position: absolute;
        top: 141%;
        left: 20%;
        height: 5vh;
        width: 30%;
        background-color: #286d34;
        font-size: 10px;
    

    }.second_reset_button button{
    left: 51%;
    background-color: rgb(221, 41, 41);
    }
}



@media screen and (max-width: 250px) {
    .chairperson_name label,
    .secretary_name label,
    .treasurer_name label,
    .chairperson_phone_number label,
    .secretary_phone_number label,
    .treasurer_phone_number label,
    .chairperson_email label,
    .treasurer_email label,
    .secretary_email label,
    .bank_branch_name label,
    .bank_account_number label,
    .bank_account_name label,
    .paybill_name label,
    .Authorize_name_1 label,
    .second_Authorize_name label,
    .paybill_number label,
    .Authorize_position_1 label,
    .second_Authorize_position label,
    .paybill_store label,
    .Authorize_signature_1 label,
    .second_Authorize_signature label{
        font-size: 5px;
    }
    .second_title{
        font-size: 10px;
    }
    .second_subtitle{
        font-size: 7px;
        font-weight: 400;

    }
    .core_subtitle{
        font-size: 7px;
        font-weight: 400;
    }.second_core{

        font-size: 9px;
    }.third_core{
        
        font-size: 9px;


    }.fourth_core{

        font-size: 9px;

    }
    .paybill_core{
        font-size: 9px;
    }
    .second_button button,
    .second_reset_button button{
        position: absolute;
        top: 141%;
        left: 20%;
        height: 5vh;
        width: 30%;
        background-color: #286d34;
        font-size: 10px;
    

    }.second_reset_button button{
    left: 51%;
    background-color: rgb(221, 41, 41);
    }
    
}



@media screen and (max-width: 200px) {
    *{
        visibility: collapse;
}
}