.form_container{
    height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    overflow: auto;
}
.form_title{
    position: absolute;
    top: 2%;
    left: 5%;
    color: #286d34;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 700;
    line-height: 31px;
}
.form_subtitle{
    position: absolute;
    top: 6%;
    left: 5%;
    color: #828282;
    font-size: 12px;
    font-family: "Quicksand";
    font-weight: 700;
    line-height: 17px;
}
.form_line{
    position: absolute;
    top: 9%;
    left: 5%;
    height: 1px;
    width: 90%;
    background-color: aqua;
    opacity: 25%;
}
.form_icon{
    position: absolute;
    top: 0%;
    right: 5%;
    height: 60px;
    width: 75px;
}
.coop_details{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 3vh;
    width: 90%;
    color: #1844ad;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 23px;
}
.form_section_1,.form_section_2{
    position: absolute;
    height: auto;
    width: 44%;
    /* background-color: rgb(17, 173, 38); */
    top: 15%;
    left: 5%;
} 

.form_section_2{
    left: 51%;
}


.coop_name label,
.coop_county label,
.coop_registration label,
.coop_postal_address label,
.coop_type label{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
}

.form_section_1 input[type="text"],
.form_section_1 select,
.form_section_1 input[type="email"]{
    height: 50px;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 3%;

}

.coop_email label,
.coop_sub_county label,
.coop_registration_number label,
.coop_telephone label,
.coop_ward label{
    color: #616161;
    font-size: 13px;
    font-family: "Poppins";
    line-height: 17px;
}

.form_section_2 input[type="text"],
.form_section_2 input[type="number"],
.form_section_2 input[type="email"]{
    height: 50px;
    width: 100%;
    padding: 0px 8px;
    border: 1px solid #76c5dc;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ffffff;
    color: #030303;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    margin-bottom: 3%;

}

.next_button button,
.reset_button button{
    position: absolute;
    top: 82%;
    left: 37%;
    height: 5vh;
    width: 12%;
    background-color: #286d34;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 21px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;

}
.next_button button:hover{
    background-color: #51e092;
}
.reset_button button{
    left: 51%;
    background-color: rgb(221, 41, 41);
}

.reset_button button:hover{
    background-color: rgb(160, 14, 14);
}

.coop_powered_by,.coop_msimbo_logo{
    height: 3vh;
    width: 40%;
    position: absolute;
    bottom: 7%;
    left: 11%;
    /* background-color: aqua; */
    text-align: end;
    font-size: 12px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 22px;
    
}
.coop_msimbo_logo{
    width: 2.3%;
    left: 51.5%;
}


  /* `````````````````````````````````````````````````````````````````````````````````````````````````````````````` */
  /* ````````````````````````````````````Cooperate form Width Media scales``````````````````````````````````````````````````````````` */
  @media screen and (max-width: 1000px) {
    .coop_powered_by,.coop_msimbo_logo{
        bottom: 5%;
   
    }.next_button button,
    .reset_button button{
        top: 82%;
   
    }

  }


  @media screen and (max-width: 800px) {
    .coop_powered_by,.coop_msimbo_logo{
        visibility: hidden;
   
    }.next_button button,
    .reset_button button{
        font-size: 12px;
        width: 20%;
        left: 30%;
   
    }
    .reset_button button{
        left: 51%;
    }

  }

  @media screen and (max-width: 510px) {
    .coop_powered_by,.coop_msimbo_logo{
        visibility: hidden;
   
    }.next_button button,
    .reset_button button{
        font-size: 12px;
   
    }
    .coop_name label,
    .coop_county label,
    .coop_registration label,
    .coop_postal_address label,
    .coop_type label,
    .coop_email label,
    .coop_sub_county label,
    .coop_registration_number label,
    .coop_telephone label,
    .coop_ward label{
        color: #616161;
        font-size: 10px;
        font-family: "Poppins";
        line-height: 17px;
    }

  }




  @media screen and (max-width: 420px) {
    .coop_powered_by,.coop_msimbo_logo{
        visibility: hidden;
   
    }.next_button button,
    .reset_button button{
        font-size: 12px;
   
    }
    .coop_name label,
    .coop_county label,
    .coop_registration label,
    .coop_postal_address label,
    .coop_type label,
    .coop_email label,
    .coop_sub_county label,
    .coop_registration_number label,
    .coop_telephone label,
    .coop_ward label{
        color: #616161;
        font-size: 8px;
        font-family: "Poppins";
        line-height: 17px;
    }.form_title{
        font-size: 18px;
       
    }
    .form_subtitle{
        font-size: 10px;
        font-weight: 500;

    }.coop_details{
        color: #1844ad;
        font-size: 14px;
        font-weight: 400;

    }

  }


  @media screen and (max-width: 350px) {
    .next_button button,
    .reset_button button{
        font-size: 12px;
        width: 30%;
        left: 20%;
   
    }
    .reset_button button{
        left: 51%;
    }
    .coop_name label,
    .coop_county label,
    .coop_registration label,
    .coop_postal_address label,
    .coop_type label,
    .coop_email label,
    .coop_sub_county label,
    .coop_registration_number label,
    .coop_telephone label,
    .coop_ward label{
        font-size: 6px;

    }.form_title{
        font-size: 14px;
       
    }
    .form_subtitle{
        font-size: 8px;
        font-weight: 500;

    }.coop_details{
        color: #1844ad;
        font-size: 14px;
        font-weight: 400;

    }

  }

  @media screen and (max-width: 280px) {
    .next_button button,
    .reset_button button{
        font-size: 12px;
        width: 30%;
        left: 20%;
   
    }
    .reset_button button{
        left: 51%;
    }
    .coop_name label,
    .coop_county label,
    .coop_registration label,
    .coop_postal_address label,
    .coop_type label,
    .coop_email label,
    .coop_sub_county label,
    .coop_registration_number label,
    .coop_telephone label,
    .coop_ward label{
        font-size: 6px;

    }.form_title{
        font-size: 14px;
       
    }
    .form_subtitle{
        font-size: 8px;
        font-weight: 500;

    }.coop_details{
        color: #1844ad;
        font-size: 14px;
        font-weight: 400;

    }
    .form_icon{
        visibility: hidden;
    }

  }

  @media screen and (max-width: 250px) {
    .next_button button,
    .reset_button button{
        font-size: 12px;
        width: 30%;
        left: 20%;
   
    }
    .reset_button button{
        left: 51%;
    }
    .coop_name label,
    .coop_county label,
    .coop_registration label,
    .coop_postal_address label,
    .coop_type label,
    .coop_email label,
    .coop_sub_county label,
    .coop_registration_number label,
    .coop_telephone label,
    .coop_ward label{
        font-size: 5px;

    }.form_title{
        font-size: 12px;
       
    }
    .form_subtitle{
        font-size: 7px;
        font-weight: 500;

    }.coop_details{
        color: #1844ad;
        font-size: 10px;
        font-weight: 400;

    }
    .form_icon{
        visibility: hidden;
    }

  }


  @media screen and (max-width: 200px) {
    *{
        visibility: hidden;
    }
  }


  /* `````````````````````````````````````````````````````````````````````````````````````````````````````````````` */
  /* ````````````````````````````````````Cooperate form Height Media scales``````````````````````````````````````````````````````````` */
  @media screen and (min-height: 800px) {
    .next_button button,
    .reset_button button{
        top: 60%;
   
    }
}
